//-This mixin cooresponds to the mixins contained within 
//-sass/component/container/ container::generateButtonContainer.
//-It takes a selector for the entire container and a selector
//-for the buttons the will be generated. It also takes a
//-word representing what is active and will apply that to 
//-whatever iterable that is.
mixin _controlPanel_container_generateButtonContainer(containerSelector, bList, iterableSelector, activeText)
  div(class=[containerSelector])
    each entry in bList 
      if entry == activeText 
        div(class=[iterableSelector, iterableSelector+"-active"])
          a=entry
      else
        div(class=[iterableSelector])
          a=entry

//-This mixin cooresponds to the mixins contained within 
//-sass/component/container/ container::generateEmailModule.
//-It takes a selector for the label, the for data, a placeholder
//-button styling and button text
mixin _controlPanel_container_SUBMODULE_generateEmailModule(containerSelector, forName, labelName, emailSelector, emailText, btnSelector, btnText)
  div(class=[containerSelector])
    .col-md-6
      .form-group
        label(for=forName)=labelName
          input(type="email", class=["form-control"], id=emailSelector, ariadescribedby="Change Email", placeholder=emailText)
        .text-xs-center.text-sm-left
          button(type="submit", class=btnSelector)=btnText

//-This mixin cooresponds to the mixins contained within 
//-sass/component/container/ container::authenticateChangeModule.
//-It takes a selector for the label, the for data, a placeholder
//-button styling and button text
mixin _controlPanel_container_SUBMODULE_generateAuthenticateChangeModule(containerSelector, forName, labelName, formSelector, placeholderText, btnSelector, btnText, type)
  div(class=[containerSelector])
    .col-md-6
      .form-group
        label(for=forName)=labelName
          input(type=type, class=["form-control"], id=formSelector, placeholder=placeholderText)
          input(type=type, class=["form-control"], id=formSelector+"-confirm", placeholder="Confirm " + placeholderText)
        .text-xs-center.text-sm-left
          button(type="submit", class=btnSelector)=btnText

//-This mixin cooresponds to the mixins contained within 
//-sass/component/container/ container::authenticateTransactionModule.
//-It takes a selector for the label, the for data, a placeholder
//-button styling and button text
mixin _controlPanel_container_SUBMODULE_generateAuthenticateTransactionModule(containerSelector, forName, labelName, formSelector, placeholderText, btnSelector, btnText, type)
  div(class=[containerSelector])
    .col-md-6
      .form-group
        label(for=forName)=labelName
          .div.current-submod
            p.title Platinum
            p.info $499/month 
          input(type=type, class=["form-control"], id=formSelector, placeholder=placeholderText)
          input(type=type, class=["form-control"], id=formSelector, placeholder="Card Number (XXXX-XXXX-XXXX-XXXX")
          .col-md-8
            input(type=type, class=["form-control"], id=formSelector, placeholder="Expiration Date")
          .col-md-4
            input(type=type, class=["form-control"], id=formSelector, placeholder="CW")
        .text-xs-center.text-sm-left
          button(type="submit", class=btnSelector)=btnText


//-This mixin cooresponds to the mixins contained within 
//-sass/component/container/ container::interactiveModule.
mixin _controlPanel_container_SUBMODULE_generateInteractiveModule(containerSelector, forName, labelName, btnSelector, btnText, type)
  div(class=[containerSelector])
    .col-md-12
      .form-group
        label(for=forName)=labelName
      .i-system
        .col-lg-4.i-comp.p-x-0
          p 
          .s-comp
            p Select
        .col-lg-4.i-comp.p-x-0
          p 
          .s-comp
            p Select
        .col-lg-4.i-comp.p-x-0
          p 
          .s-comp
            p Select
      .text-xs-center.text-sm-left.m-t-2
        button(type="submit", class=btnSelector)=btnText

